<section class="container">
    <h1>{{ this.insurance?.planName }}</h1>
    <div class="product-details">
        <div class="product-image">
            <img src="{{ this.insurance?.image }}"
                alt="Product Image">
        </div>
        <div class="product-info">
            <h2>Plan Description</h2>
            <p>{{ this.insurance?.description }}</p>
            <h2>Coverage Details</h2>
            <p>{{ this.insurance?.coverageDetail }}</p>
            <h3>Base Premium: RM {{ this.insurance?.price?.toFixed(2) }}</h3>

            <form class="form-container" [formGroup]="premiumCalculation" (ngSubmit)="calculatePremium()">
                <label>Age</label>
                <input placeholder="Age" formControlName="age">
                <label>Sum Insured</label>
                <input placeholder="Sum Insured" formControlName="sumInsured">
                <label>Duration</label>
                <input placeholder="Duration" formControlName="duration">
                <button type='submit' class="buy-now">Calculate!</button>
            </form>

            @if (!!estimatedPremium) {
            <h3>Your estimated premium is: RM {{ this.estimatedPremium }}</h3>
            }
        </div>
    </div>
</section>