<main>
    <section class="page-container">
        <h1>Insurance Plan List</h1>

        <div class="toggle-container">
            <label class="toggle-label">Search By:</label>
            <label class="toggle-switch">
                <input type="checkbox" [(ngModel)]="isSearchByCategory" (change)="onSearch()" />
                <span class="slider">
                    <span class="toggle-text">Plan Name</span>
                    <span class="toggle-text">Category</span>
                </span>
            </label>
        </div>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search..." [(ngModel)]="searchText" (input)="onSearch()" />
        </div>

        <div class="results">
            @for (insurance of filteredInsuranceList; track insurance.id) {
            <app-plan-card [insurance]="insurance"></app-plan-card>
            }
        </div>
    </section>
</main>