.page-container {
  max-width: 95%;
  margin: auto;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #004080;
  margin-bottom: 20px;
}

.toggle-container {
    display: flex;
    justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-label {
  font-size: 1em;
  color: #004080;
  font-weight: bold;
  padding: 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 40px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #004080;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 90px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 30px;
}

input:checked + .slider:before {
  transform: translateX(100px);
}

.toggle-text {
  position:relative;
  top: 25%;
  left: 5%;
  padding: 0 9% 0 9%;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: #004080;
  font-weight: bold;
  text-align: center;
  width: 100%;
  transition: 0.4s;
  z-index: 5;
}

.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar {
  width: 80%;
  padding: 10px;
  border: 1px solid #004080;
  border-radius: 4px;
  background-color: #e6f2ff;
}

.search-bar:focus {
  outline: none;
  border-color: #0066cc;
  box-shadow: 0 0 5px #0066cc;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  margin-top: 50px;
  justify-content: space-around;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page-btn {
  background-color: #00509e; /* Deep blue for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-btn.active {
  background-color: #003366; /* Darker blue for active button */
  font-weight: bold;
}

.page-btn:hover:not(.active) {
  background-color: #003366; /* Darker blue on hover */
}

.page-btn:disabled {
  background-color: #b0c4de; /* Light gray-blue for disabled buttons */
  cursor: not-allowed;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}